<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> LISTADO DE PRODUCTOS 
                        <i class="fa-solid fa-at"></i> </span> 
                     
                    <button class="btn btn-success float-end"
                    routerLink="/crear-producto">Nuevo</button>

                    <table class="table table-striped mt-3" *ngIf="listProductos.length > 0">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let prod of listProductos">
                            <th>{{prod.nombre}}</th>
                            <td>{{prod.categoria}}</td>
                            <td>{{prod.ubicacion}}</td>
                            <td>{{prod.precio | currency: 'USD'}}</td>
                            <td>
                              <i class=" icon fa-regular fa-pen-to-square text-primary"
                              [routerLink]="['/editar-producto/', prod._id]"></i>
                              <i class=" icon fa-solid fa-trash text-danger" 
                              (click)="eliminarProducto(prod._id)"></i></td>
                          </tr>
                          <!-- <tr>
                            <th>Aquarius</th>
                            <td>Bebida</td>
                            <td>España</td>
                            <td>2</td>
                            <td>
                                <i class=" icon fa-regular fa-pen-to-square text-primary"></i>
                                <i class=" icon fa-solid fa-trash text-danger"></i></td>
                          </tr>
                          <tr>
                            <th>Pan</th>
                            <td>Comida</td>
                            <td>España</td>
                            <td>1</td>
                            <td>   
                                <i class="icon fa-regular fa-pen-to-square text-primary"></i>
                                <i class="icon fa-solid fa-trash text-danger"></i></td>
                          </tr> -->
                          <!-- <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr> -->
                        </tbody>
                      </table>
                      <h5 style="text-align: start;" *ngIf="listProductos.length == 0">No hay productos para mostrar </h5>
                </div>
            </div>
        </div>
    </div>
</div>
